* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #38A2D7, #561139);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
  
  button {
    border: none;
    padding: 15px;
    margin: 10px;
  border-radius: 40%;
    cursor: pointer;
    font-size: 20px;
    
  }
  
  button:hover {
    opacity: 0.5;
  }
  
  #Calculator {
    height:480px;
    width:33cap;
    border: 2px solid black;
    justify-content: center;
  }
  
  #num1 {
    height: 50px;
    width: 330px;
    background: transparent;
    border: none;
    color: white;
    text-align: right;
    font-size: 30px;
  }
  
  input::placeholder {
    color: white;
    text-align: right;
    font-size: 30px;
  }
  
  #EqualBtn {
    background-color: orange;
    
  }
  
  #operator {
    background-color: lightgreen;
    
  }